.container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1;
    max-width: 350px;
}

.regionName {
    font-size: 32px;
    font-weight: bold;
    text-align: end;
}

.updatedAt {
    font-size: 20px;
    opacity: 0.8;
}

@media screen and (width < 1120px) {
    .container {
        margin: 0 auto;
        position: static;
    }

    .regionName,
    .updatedAt {
        text-align: center;
    }
}
