.table {
    margin-bottom: 60px;
    width: 630px;

    & > table {
        width: 100%;
        & tr {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & > td {
                font-size: 20px;
                display: flex;
                align-items: center;
                gap: 2px;

                &:nth-child(2) {
                    gap: 7px;
                    & > span {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (width < 700px) {
    .table {
        width: 100%;
        padding: 0 5px;
    }
}
